#back{
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(4.jpg);
	background-size: cover;
	background-position: fixed;
	color:#efefef !important;
	background-attachment: fixed;
	padding-top:10px;
	padding-bottom: 190px;
	padding-left: 140px;
	padding-right: 920px;
}
